.reports-container .horizontal-nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
  }
  
  .reports-container .horizontal-nav li {
    margin-right: 20px;
  }
  
  .reports-container .horizontal-nav a {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #17a2b8;
    color: white;
    border-radius: 5px;
  }
  
  .reports-container .horizontal-nav a:hover {
    background-color: #138496;
  }
  
  